/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7020e8; /* Initial background color */
    animation: colourAnimate 2s ease-in infinite alternate;
}

@keyframes colourAnimate {
    0% {
        background-color: rgb(216, 98, 39); /* Fully opaque */
    }
    100% {
        background-color: rgba(238, 217, 52, 0.64); /* 64% opacity */
    }
}


.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(244, 198, 92, 0.97);
}

.search-container {
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.search-bar:hover{
    scale: 1.01;
}
.search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #7020e8;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #7020e8a3;
    scale: 1.01;
    color: rgba(255, 255, 255, 0.711);
}

.weather-info {
    margin-top: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.temp, .description, .humid-degree, .windSpeed {
    font-size: 18px;
    margin: 10px 0;
}

.temp{
    font-size: 25px;
    font-weight: 700;
}
.temp-sup{
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    margin-left: 18px;
    margin-top: -40px;
}
.description{
    font-size: 20px;
    margin-top: -5px;
}
.bottomInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.humdity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden{
    visibility: hidden;
}

.fa-droplet, .fa-wind{
    font-size: 20px;
    color: #7020e8;
}